@import '~antd/dist/antd.css';
.ant-layout-header {
  padding: 0 15px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
} 
.logo img {
  width: 130px;
  height: auto;
}
.content {
  margin: 15px;
  border-radius: 4px;
  padding: 15px;
  background: #FFFFFF;
}
.footer {
  text-align: center;
}
.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}